@media (max-width: 576px) {

/* ---------------------header section------------- */
    .home_benner_section .benner_text {
        font-size: 1rem !important;
        top: 20%;
        line-height: 15px;
    }

    .home_benner_section .benner_text h4 {
        font-size: 1.5rem;
    }
}

@media (min-width: 577px) and (max-width: 900px) {
    /* ---------------------header section------------- */
    .home_benner_section .benner_text {
        font-size: 1rem !important;
      top: 30%;
    }

    .home_benner_section .benner_text h4 {
        font-size: 1.5rem;
    }
    
}
